.ant-table-wrapper {
  height: 100%;
  .ant-table {
    word-break: break-all;
  }
}

// app-header 头部菜单栏 link 按钮样式
// ant-table 表格内 link 按钮样式
.app-header .ant-btn-link,
.ant-table-wrapper .ant-btn-link {
  padding: 0;
}

// app-footer 底部菜单栏 a-upload 样式
.app-footer .ant-menu-item.upload-menu-item {
  padding: 0;

  span.ant-upload {
    padding: 0 20px;
    line-height: 46px;
    display: inline-block;
  }
}

// ant-drawer body 滚动条样式
.ant-drawer .ant-drawer-body {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    background: #e6d8d8;
  }
}

// ant-avatar 样式修改 (覆盖 .ant-menu-item .anticon { margin-right: 10px; })
.ant-avatar .anticon {
  margin-right: 0;
}
