// @import '/node_modules/ant-design-vue/dist/antd.min.css';
@import "./css/common.scss";
@import "./css/ant.custom.scss";
@import "./css/ant.custom.css";
@import "./css/constant.scss";

body {
  overflow: hidden;
}
p {
  margin: 0;
}
/** 内容模块，每一个子页面都带有此属性
 * @reference /src/pages/main.vue
 * <template>
 *   <router-view class="container"></router-view>
 * </template> 
 */
.container {
  height: 100%;
  overflow: hidden;
  position: relative;

  .app-header-bordered + .scroll-wrapper {
    padding: 16px 16px 24px;
  }

  // 自定义内容
  .scroll-wrapper {
    position: relative;
    overflow: auto;
    padding: 0 16px 24px;
    &::-webkit-scrollbar {
      width: 6px;
      height: 12px;
    }
    &::-webkit-scrollbar-thumb {
      /*滚动条里面小方块*/
      border-radius: 10px;
      background: #e6d8d8;
    }

    .content-wrapper {
      min-height: 100%;
      background-color: white;
    }
  }

  // 分步内容
  .steps-wrapper {
    position: relative;
    overflow: hidden;
    padding: 0 16px 24px;
    .content-wrapper {
      height: 100%;
      background-color: white;
    }
  }

  // 表格内容
  .ant-tabs.ant-tabs-line,
  .table-content-wrapper {
    margin: 0 16px;
    background-color: white;
  }
  .ant-tabs.ant-tabs-line {
    .table-content-wrapper {
      margin: 0;
    }
  }

  // 内容高度设置
  .scroll-wrapper,
  .steps-wrapper,
  .ant-tabs.ant-tabs-line,
  .table-content-wrapper {
    // 默认情况下，页面都有 app-header 和 app-footer 标签，如果没有单独在指定页面添加样式覆盖此高度
    height: calc(100% - #{$app-header-height} - #{$app-footer-height}); // .container - .app-header - .app-footer
  }
  .scroll-wrapper.no-header,
  .steps-wrapper.no-header,
  .ant-tabs.ant-tabs-line.no-header,
  .table-content-wrapper.no-header {
    height: calc(100% - #{$app-footer-height});
  }
  .scroll-wrapper.no-footer,
  .steps-wrapper.no-footer,
  .ant-tabs.ant-tabs-line.no-footer,
  .table-content-wrapper.no-footer {
    height: calc(100% - #{$app-header-height});
  }
  .scroll-wrapper.no-header.no-footer,
  .steps-wrapper.no-header.no-footer,
  .ant-tabs.ant-tabs-line.no-header.no-footer,
  .table-content-wrapper.no-header.no-footer {
    height: 100%;
  }
}

// Grid 布局 ant-spin 样式调整
.grid-spin {
  .ant-spin-spinning {
    bottom: 0;
  }
}
